<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Tareas</title>
  </head>
  <body>
    <header>Menu</header>
    <main>
    <h1>Tareas</h1>
    <form action="" method="post">
        <div>
            <label for="">Nombre:</label>
            <input type="text" name="title" id="title">
        </div>
            <button type="submit">Enviar</button>
    </form>
    <h2>Listado de tareas</h2>
    <ul>
        <li>Tarea 1</li>
        <li>Tarea 2</li>
        <li>Tarea 3</li>
    </ul>
    </main>
    <footer>
        <small>Copyright 2023</small>
    </footer>
    <script src="/js/script.js"></script>
  </body>
</html>
